{% extends "layout.html"%}
{% block content %}
    <h1>Home page</h1>
    <p>Welcome to your go-to platform for comprehensive data profiling, analysis, and predictive modeling. 
    Our innovative web application empowers you to effortlessly upload your datasets,
    allowing you to automatically perform in-depth profiling and analysis to extract valuable insights.</p>
    <h2>How It Works:</h2>
    <ul>
        <li><strong>Upload Data:</strong> Easily upload your dataset to our secure platform.</li>
        <li><strong>Profiling & Analysis:</strong> Sit back as our algorithms perform comprehensive profiling and analysis.</li>
        <li><strong>Model Training:</strong> Our machine learning agents train various models on your data.</li>
        <li><strong>Best Model Selection:</strong> We'll identify and present the most effective model for your predictive needs.</li>
        <li><strong>Predictive Power:</strong> Use the chosen model to make predictions for future data.</li>
    </ul>
    <h1>Upload Excel File</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file" accept=".xlsx, .xls">
        <input type="submit" value="Upload">
    </form>
{% endblock content %}
